// Commons

//Breakpoint
$desktop: 1440px;
$tablet: 768px;
$mobile: 640px;

//colors
$primaryColor: #323232;
$secColor: #fffff7;

// Typography
@font-face {
  font-family: 'PP Mori';
  src:url('../fonts/PPMori-Regular.woff2') format('woff2'),
      url('../fonts/PPMori-Regular.woff') format('woff'),
      url('../fonts/PPMori-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PP Mori';
  src:url('../fonts/PPMori-Semibold.woff2') format('woff2'),
      url('../fonts/PPMori-Semibold.woff') format('woff'),
      url('../fonts/PPMori-Semibold.ttf') format('ttf');
  font-weight: 500;
}

.s-large { 
  font-size: 60px;
}

.s-big {
  font-size: 40px;
}

.s-medium { 
  font-size: 30px;
}

.s-regular {
	font-size: 22px;
}

.s-small {
  font-size: 16px;
}


// grid system
$spacing: 32px;
$half-spacing: $spacing/2;
$double-spacing: $spacing*2;
$triple-spacing: $spacing*3;
$fourfold-spacing: $spacing*4;

$col: 8.3333%;

// col system
.d-one-third {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-half {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-thirds{
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-whole {
  width: calc(100% - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-one-twelfth {
  width: calc(#{$col} - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-twelfth {
  width: calc(#{$col}*2 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-three-twelfth {
  width: calc(#{$col}*3 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-four-twelfth {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-six-twelfth {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eight-twelfth {
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-nine-twelfth {
  width: calc(#{$col}*9 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-ten-twelfth {
  width: calc(#{$col}*10 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eleven-twelfth {
  width: calc(#{$col}*11 - #{$spacing});
  margin: 0 #{$half-spacing};
}


// spacers
.spacing-b-1 {
  margin-bottom: $half-spacing;
}

.spacing-b-2 {
  margin-bottom: $spacing;
}

.spacing-b-3 {
  margin-bottom: $half-spacing*3;
}

.spacing-b-4 {
  margin-bottom: $double-spacing;
}

.spacing-b-5 {
  margin-bottom: $half-spacing*5;
}

.spacing-b-6 {
  margin-bottom: $triple-spacing;
}


.spacing-t-1 {
  margin-top: $half-spacing;
}

.spacing-t-2 {
  margin-top: $spacing;
}

.spacing-t-3 {
  margin-top: $half-spacing*3;
}

.spacing-t-4 {
  margin-top: $double-spacing;
}

.spacing-t-5 {
  margin-top: $half-spacing*5;
}

.spacing-t-6 {
  margin-top: $triple-spacing;
}

// padding
.spacing-p-b-half {
  padding-bottom: $half-spacing/2;
}

.spacing-p-b-1 {
  padding-bottom: $half-spacing;
}

.spacing-p-b-2 {
  padding-bottom: $spacing;
}

.spacing-p-b-3 {
  padding-bottom: $half-spacing*3;
}

.spacing-p-b-4 {
  padding-bottom: $double-spacing;
}

.spacing-p-b-5 {
  padding-bottom: $half-spacing*5;
}

.spacing-p-b-6 {
  padding-bottom: $triple-spacing;
}

.spacing-p-t-half {
  padding-top: $half-spacing/2;
}

.spacing-p-t-1 {
  padding-top: $half-spacing;
}

.spacing-p-t-2 {
  padding-top: $spacing;
}

.spacing-p-t-3 {
  padding-top: $half-spacing*3;
}

.spacing-p-t-4 {
  padding-top: $double-spacing;
}

.spacing-p-t-5 {
  padding-top: $half-spacing*5;
}

.spacing-p-t-6 {
  padding-top: $triple-spacing;
}

@media screen and (max-width: $tablet) {
    // spacers
  .spacing-t-b-0 {
    margin-bottom: 0;
  }

  .spacing-t-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-t-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-t-b-3 {
    margin-bottom: $half-spacing*3;
  }

  .spacing-t-b-4 {
    margin-bottom: $double-spacing;
  }

  .spacing-t-b-5 {
    margin-bottom: $half-spacing*5;
  }

  .spacing-t-b-6 {
    margin-bottom: $triple-spacing;
  }

  .spacing-t-t-0 {
    margin-top: 0;
  }

  .spacing-t-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-t-t-2 {
    margin-top: $spacing;
  }

  .spacing-t-t-3 {
    margin-top: $half-spacing*3;
  }

  .spacing-t-t-4 {
    margin-top: $double-spacing;
  }

  .spacing-t-t-5 {
    margin-top: $half-spacing*5;
  }

  .spacing-t-t-6 {
    margin-top: $triple-spacing;
  }

  // padding
  .spacing-t-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-t-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-t-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-t-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-t-p-b-3 {
    padding-bottom: $half-spacing*3;
  }

  .spacing-t-p-b-4 {
    padding-bottom: $double-spacing;
  }

  .spacing-t-p-b-5 {
    padding-bottom: $half-spacing*5;
  }

  .spacing-t-p-b-6 {
    padding-bottom: $triple-spacing;
  }

  .spacing-t-p-t-0 {
    padding-top: 0;
  }

  .spacing-t-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-t-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-t-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-t-p-t-3 {
    padding-top: $half-spacing*3;
  }

  .spacing-t-p-t-4 {
    padding-top: $double-spacing;
  }

  .spacing-t-p-t-5 {
    padding-top: $half-spacing*5;
  }

  .spacing-t-p-t-6 {
    padding-top: $triple-spacing;
  }
}

@media screen and (max-width: $mobile) {
  .spacing-m-b-0 {
    margin-bottom: 0;
  }

  .spacing-m-b-half {
    margin-bottom: $half-spacing/2;
  }

  .spacing-m-b-1 {
    margin-bottom: $half-spacing;
  }

  .spacing-m-b-2 {
    margin-bottom: $spacing;
  }

  .spacing-m-b-3 {
    margin-bottom: $half-spacing*3;
  }

  .spacing-m-b-4 {
    margin-bottom: $double-spacing;
  }

  .spacing-m-b-5 {
    margin-bottom: $half-spacing*5;
  }

  .spacing-m-b-6 {
    margin-bottom: $triple-spacing;
  }

  .spacing-m-t-0 {
    margin-top: 0;
  }

  .spacing-m-t-half {
    margin-top: $half-spacing/2;
  }

  .spacing-m-t-1 {
    margin-top: $half-spacing;
  }

  .spacing-m-t-2 {
    margin-top: $spacing;
  }

  .spacing-m-t-3 {
    margin-top: $half-spacing*3;
  }

  .spacing-m-t-4 {
    margin-top: $double-spacing;
  }

  .spacing-m-t-5 {
    margin-top: $half-spacing*5;
  }

  .spacing-m-t-6 {
    margin-top: $triple-spacing;
  }

  // padding
  .spacing-m-p-b-0 {
    padding-bottom: 0;
  }

  .spacing-m-p-b-half {
    padding-bottom: $half-spacing/2;
  }

  .spacing-m-p-b-1 {
    padding-bottom: $half-spacing;
  }

  .spacing-m-p-b-2 {
    padding-bottom: $spacing;
  }

  .spacing-m-p-b-3 {
    padding-bottom: $half-spacing*3;
  }

  .spacing-m-p-b-4 {
    padding-bottom: $double-spacing;
  }

  .spacing-m-p-b-5 {
    padding-bottom: $half-spacing*5;
  }

  .spacing-m-p-b-6 {
    padding-bottom: $triple-spacing;
  }

  .spacing-m-p-t-0 {
    padding-top: 0;
  }

  .spacing-m-p-t-half {
    padding-top: $half-spacing/2;
  }

  .spacing-m-p-t-1 {
    padding-top: $half-spacing;
  }

  .spacing-m-p-t-2 {
    padding-top: $spacing;
  }

  .spacing-m-p-t-3 {
    padding-top: $half-spacing*3;
  }

  .spacing-m-p-t-4 {
    padding-top: $double-spacing;
  }

  .spacing-m-p-t-5 {
    padding-top: $half-spacing*5;
  }

  .spacing-m-p-t-6 {
    padding-top: $triple-spacing;
  }
}