@media screen and (max-width: $desktop) {


}

@media screen and (max-width: $tablet) {
  .t-hidden {
    display: none; 
  }

  .t-visible {
    display: inline-block;
  }

  .d-flex {
    &.t-column {
      flex-flow: column;
    }
    &.t-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .t-whole {
    width: calc(100% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }


  .t-half {
    width: calc(50% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  .container {
    width: calc(100% - #{$spacing});
    margin-left: $half-spacing;
    margin-right: $half-spacing;
  }

  .home #intro-text {
    height: unset;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  header {
    padding: $half-spacing;
    .menu-toggle {
      right: $half-spacing;
    }
    div[class*="menu-1"] {
      padding: 0 $half-spacing;
    }
  }
}

@media screen and (max-width: $mobile) {
  .s-large { 
    font-size: 40px;
  }

  .s-big {
    font-size: 30px;
  }

  .s-medium { 
    font-size: 24px;
  }

  .s-regular {
    font-size: 18px;
  }

  .s-small {
    font-size: 14px;
  }

  .m-hidden {
    display: none; 
  }

  .m-visible {
    display: inline-block;
  }

  .d-flex {
    &.m-column {
      flex-flow: column;
    }
    &.m-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .m-whole {
    width: calc(100% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  .m-half {
    width: calc(50% - #{$spacing});
    margin-left: #{$half-spacing};
    margin-right: #{$half-spacing};
  }

  header {
    .menu-toggle {
      width: 40px;
      height: 26px;
      span {
        width: 90%;
        &.open span:nth-child(1),
        &.open span:nth-child(3) {
          left: 2vw;
        }
      }
    }
  }

  .home, .blog {
    project {
      .project-title {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  .single {
    .content-module {
      &.dark {
        padding-bottom: $half-spacing*3;
        margin-bottom: 0;
        &:not(.dark + .dark) {
          padding-top: $half-spacing*3;
          margin-top: 0;
        }
        &:has(+ .dark) {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
    .content-module.dark + .content-module.dark {
      margin-top: 0;
    }
  }

  .sl-wrapper {
    .sl-close {
      right: $half-spacing;
      bottom: 14px;
    }
    .sl-counter {
      left: $half-spacing;
    }
    .sl-navigation {
      button.sl-next {
        right: $half-spacing;
      }
      button.sl-prev {
        left: $half-spacing;
      }
    }
  }
}

